<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            
<footer class=" text-center text-white" style="background-color: black; height:230px ;">
    <!-- Grid container -->
    <div class="container p-4">
  
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
           
           
            
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
  

  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">About Us</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">About Us</a>
              </li>
              <li>
                <a href="#!" class="text-white">FAQ's</a>
              </li>
              <li>
                <a href="#!" class="text-white">Terms & Conditions</a>
              </li>
              <li>
                <a href="#!" class="text-white">Return Policy & Procedures</a>
              </li>
              <li>
                <a href="#!" class="text-white">Privacy Policy</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Contact Us</h5>
  
            <ul class="list-unstyled mb-0">
              
              <li>
                <a href="#!" class="text-white">+965- xxxx xxxx</a>
              </li>
              <li>
                <a href="#!" class="text-white">support@oshmoments.com</a>
              </li>
              <li>
                <a href="#!" class="text-white">WhatsApp Us</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Newsletter</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <!-- <a href="#!" class="text-white">Link 1</a> -->
                <button type="submit" class="btn btn-outline-light mb-4">
                    Sign Up Now
                  </button><br>
                  <input type="text" placeholder="Your email" style="text-align: center;">
              </li>
             
             
             
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Follow Us</h5>
  
            <ul class="list-unstyled mb-0">
              <div class="row">
                <div class="col-md-12"><i class="fa-brands fa-facebook"></i>
                  <i class="fa-brands fa-instagram" style="margin-left:10px;"></i></div>
                 
                

              </div>
             
            </ul>
          </div>
        
        </div>
        
      </section>
      
    </div>
    
  
    
    <div class="text-center" style="background-color: rgba(0, 0, 0, 0.2);">
       Copyright © 2022 OSH Moments All Rights Reserved
      
    </div>
    
  </footer>
  
        </div>
    </div>
</div>
